body {
    background-color: rgb(134, 255, 164);
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 15px;
    background-color: rgb(3, 97, 23);
    color: rgb(255, 255, 255);
    border-radius: 15px;
    text-align: center;
    margin-bottom: 30px;

}

section {
    background-color: rgb(3, 97, 23);
    padding: 20px;
    border-radius: 15px;
    width: 50%;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    color: aliceblue;
}

.pdoinicio {
    color: aliceblue;
}

a {
    background-color: aliceblue;
    color: black;
    padding: 8px;
    border-radius: 60px;
}

.displayinline {
    background-color: rgb(3, 97, 23);
    padding: 20px;
    border-radius: 20px;
    width: 30%;

}

.pdisplayinline {
    color: aliceblue;
    padding: 5px;
    background-color: rgb(0, 0, 0);
    display: inline;
}

.divgrid {
    background-color: rgb(134, 255, 164);
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 2fr 2fr;

}

.yellowgrid {
    background-color: rgb(255, 242, 0);
    height: 100%;
    width: 100%;
}

.greengrid {
    background-color: rgb(8, 68, 0);
    height: 100%;
    width: 100%;
    
}

.redgrid {
    background-color: rgb(255, 0, 0);
    height: 100%;
    width: 100%;
}

.exemplo {
    display: block;
}