body {
    background-color: rgb(134, 255, 164);
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 15px;
    background-color: rgb(3, 97, 23);
    color: rgb(255, 255, 255);
    border-radius: 15px;
    text-align: center;
    margin-bottom: 30px;

}

section {
    background-color: rgb(3, 97, 23);
    padding: 20px;
    border-radius: 15px;
    width: 50%;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    color: aliceblue;
}

.pdoinicio {
    color: aliceblue;
}

a {
    background-color: aliceblue;
    color: black;
    padding: 8px;
    border-radius: 60px;
}

.displayinline {
    background-color: rgb(3, 97, 23);
    padding: 20px;
    border-radius: 20px;
    width: 30%;

}

.pdisplayinline {
    color: aliceblue;
    padding: 5px;
    background-color: rgb(0, 0, 0);
    display: inline;
}

.divgrid {
    background-color: rgb(134, 255, 164);
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 100px 100px;
    gap: 10px;
    margin: 20px;
    width: 400px;

}

.yellowgrid {
    background-color: rgb(255, 242, 0);
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.greengrid {
    background-color: rgb(8, 68, 0);
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

.redgrid {
    background-color: rgb(255, 0, 0);
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.divinline-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    width: 20px;
}

.textodivinline-grid {
    background-color: rgb(3, 97, 23);
    color: white;
    padding: 20px;
    align-items: center;
    border-radius: 12px;
    font-weight: bold;
}

.containerflow-root {
    display: flow-root;
    background-color: rgb(200, 255, 210);
    padding: 15px;
    border-radius: 10px;
    width: 400px;
}

.caixaflow-root {
    width: 100px;
    height: 100px;
    background-color: green;
    float: left;
    margin-right: 10px;
}

.caixa {
    width: 150px;
    height: 150px;
    background-color: red;
    position: static;
    top: 50px;
    left: 50px;
}
.blue{
    background-color: blue;
}
.flex{
display: flex;

padding: 10px;
}


.yoflex {
  background-color: orange;
  padding: 15px;
  margin: 5px;
}
